<div class="container">
  <div class="wrapper">
    <ngb-carousel class="front-page__carousel" *ngIf="images">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper picsum-img-wrapper1">
          <img src="assets/photo/promotion-divine-seeds.jpeg" alt="Promotion Divine Seeds">
        </div>
        <div class="carousel-caption">
          <h3>Auto Opium от DivineSeeds</h3>
          <p>*до конца майа -30% на все упаковки (3/5/10)</p>
<!--          <button class="btn-danger">Добавить в корзину</button>-->
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper picsum-img-wrapper2">
          <img src="assets/photo/proizvodstvo_2.jpg" alt="Proizvodstvo led">
        </div>
        <div class="carousel-caption">
          <h3>Наше производство</h3>
          <p>Качественные материалы, специалисты наивысшего уровня</p>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="picsum-img-wrapper picsum-img-wrapper3">
          <img src="assets/photo/qb320.jpg" alt="QuantuBoard Qb 320w">
        </div>
        <div class="carousel-caption">
          <h3>q|b W320</h3>
          <p>Сочетая уникальность, инновации и превосходство</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper picsum-img-wrapper4">
          <img src="/assets/photo/aquaManInstTg.jpg" alt="x1Pro 500-660, x1pro 800-1000, Pushka 200w, Pushka 500w, Qb 80-320w Акция за подписку">
        </div>
        <div class="carousel-caption">
<!--          <p>Наша разработка X1 PRO одна из лучших на мировом рынке по эффективности, которая доказана в сертифицированной лаборатории.-->
<!--          </p>-->
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper picsum-img-wrapper5">
          <img src="/assets/photo/banner2X1Pro%20копия.png" alt="x1Pro 500-660, x1pro 800-1000 Акция Бонг в подарок">
        </div>
        <div class="carousel-caption">
<!--          <p>X1PRO - Топовое освещение для Ваших растений</p>-->
        </div>
      </ng-template>

    </ngb-carousel>
  </div>
</div>



