<main>
  <div class="container">
    <div class="newses-wrapper">
      <div class="newses-block col-xs-12 col-sm-9">
        <div class="jumbotron">
          <h1>Свежи новости из канна-мира</h1>
          <p>Слияние крупных компаний, открытие новых вакансий, легалицация, важные события, громкие дела и многое другое.</p>
        </div>

        <div class="newses-block_items-wrapper">

          <div class="newses-block_news-item">

            <div class="newses-block_news-item__news-img-wrapper">
              <img class="newses-block_news-item__news-img" src="/assets/photo/articles-title-category.webp"
                   alt="Grow Report Title">
            </div>

            <h3 class="newses-block_news-item__title-news">Южноафриканский предприниматель купил первый в мире сорт каннабиса, прошедший проверку подлинности NFT, за 20 тысяч</h3>

            <p class="newses-block_news-item__about-news">
              Южноафриканский бизнес-менеджер и предприниматель Мэтт Бенас заплатил примерно 20.000 XNUMX евро за два пакета семян каннабиса в рамках сделки, которую называют «первым в мире штаммом каннабиса с NFT-аутентификацией».
              Бенас превзошел ряд заинтересованных сторон и получил в общей сложности 20 семян (от двух разных сорта, штаммы каннабиса) от американского производителя Gage Green Group (GGG) вместе с сопровождающими оригинальными произведениями искусства основателя GGG Джеффа Селсора на аукционе NFT (невзаимозаменяемый токен) в конце прошлого месяца. Предприниматель заплатил 5,5 Ethereum (ETH, криптовалюта) и 1,82 ETH соответственно за каждый сорт - на тот момент общая стоимость составляла почти 20.000 XNUMX евро.
              Сорта, называемые «Rise» и «Burn», никогда не будут воспроизведены GGG. Это первый раз, когда GGG передала семена единственному эксклюзивному владельцу через NFT.
            </p>

            <a href="https://drugsinc.eu/ru/%D0%9F%D0%B5%D1%80%D0%B2%D1%8B%D0%B5-%D0%B0%D1%83%D1%82%D0%B5%D0%BD%D1%82%D0%B8%D1%84%D0%B8%D1%86%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5-%D1%88%D1%82%D0%B0%D0%BC%D0%BC%D1%8B-%D0%BA%D0%B0%D0%BD%D0%BD%D0%B0%D0%B1%D0%B8%D1%81%D0%B0-NFT-%D0%B2%D1%8B%D0%B7%D1%8B%D0%B2%D0%B0%D1%8E%D1%82-%D0%BE%D0%B6%D0%BE%D0%B3%D0%B8/" target="_blank">Читать
              полностью -></a>
          </div>

          <div class="newses-block_news-item">

            <div class="newses-block_news-item__news-img-wrapper">
              <img class="newses-block_news-item__news-img" src="/assets/photo/news-title2.webp"
                   alt="Grow Report Title">
            </div>

            <h3 class="newses-block_news-item__title-news">Слияние Tilray Inc. и Aphria Inc. округлено: крупнейшая в мире компания по производству каннабиса по размеру выручки</h3>

            <p class="newses-block_news-item__about-news">Канадские компании по производству каннабиса Tilray Inc. и Aphria Inc. объявили о завершении своего слияния в прошлый понедельник после одобрения акционеров обеих компаний. В результате объединенная компания стала крупнейшей в мире компанией по производству каннабиса, если судить по выручке.
              Две компании по производству каннабиса произвели объявлено в декабре что они сольются под названием Tilray. Ожидается, что новая объединенная компания обеспечит рентабельный синергетический эффект в течение 18 месяцев после заключения сделки, получив налоговую выгоду в размере 81 млн долларов или более.</p>
            <a href="https://drugsinc.eu/ru/%D0%B7%D0%B0%D0%B2%D0%B5%D1%80%D1%88%D0%B5%D0%BD%D0%BE-%D1%81%D0%BB%D0%B8%D1%8F%D0%BD%D0%B8%D0%B5-Tilray-Inc-%D0%B8-Aphria-Inc./"
               target="_blank">Читать полностью -></a>
          </div>

          <div class="newses-block_news-item">

            <div class="newses-block_news-item__news-img-wrapper">
              <img class="newses-block_news-item__news-img" src="/assets/photo/news-title3.jpeg"
                   alt="Grow Report Title">
            </div>

            <h3 class="newses-block_news-item__title-news">
              Конопляное волокно во всех отношениях лучше дерева</h3>

            <p class="newses-block_news-item__about-news">Конопля всегда была лучшим природным ресурсом, чем деревья. На самом деле, поскольку конопля не была разрешена законом в большинстве стран мира в течение последних 80 лет, у нее никогда не было возможности конкурировать на равных с древесиной или другими натуральными волокнами. А как насчет промышленного волокна конопли?
              1 Безопасная для планеты промышленная конопля
              2 Действительно возобновляемый
              3 Лучшая химия
              Специалисты по обработке и оптимизации древесины очень заинтересовались коноплей. Следующим желательным шагом является поиск запатентованного автоматизированного решения, с помощью которого дешевое высококачественное волокно конопли могло бы стать основой.</p>
            <a href="https://drugsinc.eu/ru/%D0%BF%D1%80%D0%BE%D0%BC%D1%8B%D1%88%D0%BB%D0%B5%D0%BD%D0%BD%D0%BE%D0%B5-%D0%B2%D0%BE%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE-%D0%BA%D0%BE%D0%BD%D0%BE%D0%BF%D0%BB%D0%B8-%D0%B2%D0%B5%D0%B7%D0%B4%D0%B5-%D0%BB%D1%83%D1%87%D1%88%D0%B5-%D0%B4%D0%B5%D1%80%D0%B5%D0%B2%D0%B0/" target="_blank">Читать
              полностью -></a>
          </div>

          <div class="newses-block_news-item">

            <div class="newses-block_news-item__news-img-wrapper">
              <img class="newses-block_news-item__news-img" src="/assets/photo/news-title5.webp"
                   alt="Grow Report Title">
            </div>

            <h3 class="newses-block_news-item__title-news">
              Canopy Growth подписывает сделку на 345 миллионов долларов на покупку Supreme Cannabis</h3>

            <p class="newses-block_news-item__about-news">
              Canopy Growth Corp. подписали сделку по приобретению Supreme Cannabis Company Inc. в соглашении на сумму 345 миллионов долларов США или около 365 миллионов евро.
              Ожидается, что сделка принесет ряд преимуществ как акционерам Canopy, так и Supreme Cannabis. В частности, после завершения приобретения Canopy будет иметь усиленный портфель брендов, включая один из ведущих канадских брендов премиум-класса, 7ACRES и 7ACRES Craft Collective - также сообщается на веб-сайте Рост купола. Ожидается, что рост бренда будет поддерживаться надежной сетью продаж и распространения Canopy, а также отличным пониманием потребителей и возможностями исследований и разработок. Помимо получения рыночной премии, акционеры Supreme Cannabis также получат выгоду от Canopy's American CBDдеятельность и условное позиционирование для продолжения экспансии на рынке США. Дальнейшая ценность будет получена за счет масштабируемого производственного предприятия в Кинкардине, Онтарио, которое имеет проверенный опыт производства цветов премиум-класса по невысокой цене.
            </p>
            <a href="https://drugsinc.eu/ru/Canopy-Growth-Corp-%D0%BF%D0%BE%D0%B3%D0%BB%D0%BE%D1%89%D0%B5%D0%BD%D0%B8%D0%B5-%D0%B2%D1%8B%D1%81%D1%88%D0%B8%D0%B9-%D0%BA%D0%B0%D0%BD%D0%BD%D0%B0%D0%B1%D0%B8%D1%81-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D1%8B/" target="_blank">Читать
              полностью -></a>
          </div>

        </div>

      </div>
    </div>
  </div>
</main>
