<div class="wrapper">

  <div class="cards-wrapper card text-white bg-dark mb-3">
    <div class="img-wrapper">
      <img class="card-img-top" src="assets/photo/led-category.jpeg" alt="pushka">
    </div>
    <div class="card-body">
      <h2 class="card-title">Свет</h2>
      <p class="card-text about-category">Топовый свет под любые цели, от системного блока до промышленных обьемов</p>
      <p class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('lighting')" role="button">Посмотреть -></a>
      </p>
    </div>
  </div>

  <div class="cards-wrapper card text-white bg-dark mb-3">
    <div class="img-wrapper">
      <img class="card-img-top" src="assets/photo/pots-category.jpeg" alt="pushka">
    </div>
    <div class="card-body">
      <h2 class="card-title">Горшки</h2>
      <p class="card-text about-category">AitPot, мешки, диски для проращивания и другое</p>
      <p class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('pots')" role="button">Посмотреть -></a>
      </p>
    </div>
  </div>

  <div class="cards-wrapper card text-white bg-dark mb-3">
    <div class="img-wrapper">
      <img class="card-img-top" src="assets/photo/mylar-category.jpeg" alt="pushka">
    </div>
    <div class="card-body">
      <h2 class="card-title">Отражательные елементы</h2>
      <p class="card-text about-category">Лучшие отражающие елементы в мире!</p>
      <p class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('reflective-elements')" role="button">Посмотреть -></a>
      </p>
    </div>
  </div>

  <div class="cards-wrapper card text-white bg-dark mb-3">
    <div class="img-wrapper">
      <img class="card-img-top" src="assets/photo/mesure-category.jpeg" alt="pushka">
    </div>
    <div class="card-body">
      <h2 class="card-title">Измерительные прибры</h2>
      <p class="card-text about-category">Ph, Tds, Ec, Ppm и другие необходимые измерительные приборы садовода</p>
      <p class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('measuring-instruments')" role="button">Посмотреть -></a>
      </p>
    </div>
  </div>

  <div class="cards-wrapper card text-white bg-dark mb-3">
    <div class="img-wrapper">
      <img class="card-img-top" src="assets/photo/drivers-category.jpeg" alt="pushka">
    </div>
    <div class="card-body">
      <h2 class="card-title">Драйвера</h2>
      <p class="card-text about-category">Только топоые производители</p>
      <p class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('driver')" role="button">Посмотреть -></a>
      </p>
    </div>
  </div>

  <div class="cards-wrapper card text-white bg-dark mb-3">
    <div class="img-wrapper">
      <img class="card-img-top" src="assets/photo/ventilyaciya-category.jpeg" alt="pushka">
    </div>
    <div class="card-body">
      <h2 class="card-title">Воздух</h2>
      <p class="card-text about-category">Вентиляторы, куллера, уголь и другое</p>
      <p class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('air')" role="button">Посмотреть -></a>
      </p>
    </div>
  </div>

  <div class="cards-wrapper card text-white bg-dark mb-3">
    <div class="img-wrapper">
      <img class="card-img-top" src="assets/photo/other-category2.jpeg" alt="pushka">
    </div>
    <div class="card-body">
      <h2 class="card-title">Другое</h2>
      <p class="card-text about-category">Разные крутые штуки ктороые не вошли в категории</p>
      <p class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('other')" role="button">Посмотреть -></a>
      </p>
    </div>
  </div>

</div>
