<div class="container">
  <div class="wrapper">
    <div class="footer-header-block">
      <a class="footer-header-block__logo" href="/">Hemp&Technologies</a>
    </div>
    <div class="wrapper-shipping">
      <div class="footer-block__shipping">
        <h3>Доставка</h3>
        <p>ПочтаРоссии</p>
        <p>СДЭК</p>
      </div>

<!--      <div class="footer-block__maps">-->
<!--        <h3>Склад-магазин</h3>-->
<!--        <agm-map [zoom]='19' [latitude]="30" [longitude]="-110">-->
<!--          <agm-marker [latitude]="30" [longitude]="-110"></agm-marker>-->
<!--        </agm-map>-->
<!--      </div>-->

      <div class="footer-block__schedule">
        <h3>График работы</h3>
        <h4 class="footer-block__schedule-header">Отправка товара: </h4>
        <p>Пн-Пт: <span>9:00 - 20:00</span></p>
        <p>Сб: <span>9:00 - 13:00</span></p>
        <p>Вс: <span>Выходной</span></p>
        <h4  class="footer-block__schedule-header">Прием заказов и поддержка: </h4>
        <p>Работают круглосуточно!</p>
      </div>

      <div class="footer-block__contacts">
        <h3>Контакты</h3>
        <a type="tel" href="tel:+79092052568">+79092052568</a>
        <a target="_blank" href="https://www.instagram.com/hemptech.official/?hl=ru">Instagram</a>
        <a target="_blank" href="https://t.me/Hemp_Tech">Telegram</a>
        <a target="_blank" href="https://www.youtube.com/channel/UC7PgInJUIvJogege-_weCmA">Youtube</a>
        <a target="_blank" href="https://www.facebook.com/HempTechnologies-102940775463206">FaceBook</a>
        <a target="_blank" href="https://t.me/joinchat/Dsp8LJWZIKVkYTMy">Пообщяться на любимые темы : <span>Telegram Chat</span></a>
      </div>
    </div>
  </div>

</div>
