


<nav class="navbar navbar-fixed-top navbar-dark bg-intense">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="nav-item"><a routerLink="/equipment/lighting" class="nav-link">Свет</a></li>
      <li class="nav-item"><a routerLink="/equipment/pots" class="nav-link">Горшки</a></li>
      <li class="nav-item"><a routerLink="/equipment/measuring-instruments" class="nav-link">Измерительные инструменты</a></li>
      <li class="nav-item"><a routerLink="/equipment/reflective-elements" class="nav-link">Светоотражающиеся элементы</a></li>
      <li class="nav-item"><a routerLink="/equipment/driver" class="nav-link">Драйвера</a></li>
      <li class="nav-item"><a routerLink="/equipment/air" class="nav-link">Воздух</a></li>
      <li class="nav-item"><a routerLink="/equipment/other" class="nav-link">Другое</a></li>
    </ul>
  </div>
</nav>
