<div class="wrapper">

  <div class="cards-wrapper card text-white bg-dark mb-3">
    <div class="img-wrapper">
      <img class="card-img-top" src="assets/photo/video-cards.png" alt="Smoking accessories">
    </div>
    <div class="card-body">
      <h2 class="card-title">Видео</h2>
      <p class="card-text about-category">Полезное видео от топовых гроу-мастеров со всего мира, а также о пользе и вреде и многом другом</p>
      <p class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('video')" role="button">Посмотреть -></a>
      </p>
    </div>
  </div>

  <div class="cards-wrapper card text-white bg-dark mb-3">
    <div class="img-wrapper">
      <img class="card-img-top" src="assets/photo/reports-cards2.jpeg" alt="Clothes 100% natural">
    </div>
    <div class="card-body">
      <h2 class="card-title">Гроу-репорты</h2>
      <p class="card-text about-category">Интересный контент в читабельном варианте с качественными фото. Будет полезно как новичку так и опытному гроверу</p>
      <p class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('reports')" role="button">Посмотреть -></a>
      </p>
    </div>
  </div>


  <div class="cards-wrapper card text-white bg-dark mb-3">
    <div class="img-wrapper">
      <img class="card-img-top" src="assets/photo/news-cards.jpeg" alt="Food with hemp">
    </div>
    <div class="card-body">
      <h2 class="card-title">Новости</h2>
      <p class="card-text about-category">Конопляные новости со всего мира. Достижения ученых, легализация, стартапы и многое другое</p>
      <p class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('news')" role="button">Посмотреть -></a>
      </p>
    </div>
  </div>

  <div class="cards-wrapper card text-white bg-dark mb-3">
    <div class="img-wrapper">
      <img class="card-img-top" src="assets/photo/kitchen-cards.jpeg" alt="pushka">
    </div>
    <div class="card-body">
      <h2 class="card-title">Кухня</h2>
      <p class="card-text about-category">Крутые рецепты для домашнего приготовления. Освежающие проетиновые кокктейли, празднечные торты, косметика по авторским рецептам</p>
      <p class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('kitchen')" role="button">Посмотреть -></a>
      </p>
    </div>
  </div>

  <div class="cards-wrapper card text-white bg-dark mb-3">
    <div class="img-wrapper">
      <img class="card-img-top" src="assets/photo/articles-cards.jpeg" alt="pushka">
    </div>
    <div class="card-body">
      <h2 class="card-title">Статьи</h2>
      <p class="card-text about-category">Лучшие статьи по техническим вопросам. Инцеклопедия по кооплеводству и затеряные статьи</p>
      <p class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('articles')" role="button">Посмотреть -></a>
      </p>
    </div>
  </div>

</div>
