.container {
  color: #FFFFFF;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

//.wrapper {
//  display: flex;
//  flex-wrap: wrap;
//  justify-content: center;
//}

.products-wrapper {
  width: 204px;
  height: 415px;
  border: 2px solid yellow;
  margin: 10px 20px;
}

.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  font-size: 18px;
  text-align: center;
  background-color: darkred;
}

.card-link {
  color: #FFFFFF;
  font-size: 18px;
}

.about-category {
  color: #FFFFFF;
  max-height: 25px;
  margin: 0 17px;
  font-size: 12px;
  min-height: 40px;
  text-align: center;
}

.card-price {
  text-align: center;
  color: #FFFFFF;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}
@media only screen and (min-width : 320px) and (max-width : 479px) {
  .container {
    padding: 0;
  }
  .wrapper {
    display: inline-grid;
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width : 480px) and (max-width : 503px) {
  .container {
    padding: 0;
  }
  .wrapper {
    display: inline-grid;
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width : 504px) and (max-width : 639px) {
  .container {
    padding: 0;
  }
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width : 640px) and (max-width : 767px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width : 768px) and (max-width : 992px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }
}
@media only screen and (min-width : 993px) and (max-width : 1023px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }
}

@media only screen and (min-width : 1024px) and (max-width : 1199px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


