


<nav class="navbar navbar-fixed-top navbar-dark bg-intense">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="nav-item"><a routerLink="/helpful/video" class="nav-link">Видео</a></li>
      <li class="nav-item"><a routerLink="/helpful/reports" class="nav-link">Репорты</a></li>
      <li class="nav-item"><a routerLink="/helpful/news" class="nav-link">Новости</a></li>
      <li class="nav-item"><a routerLink="/helpful/kitchen" class="nav-link">Кухня</a></li>
      <li class="nav-item"><a routerLink="/helpful/articles" class="nav-link">Статьи</a></li>
    </ul>
  </div>
</nav>
