<div class="wrapper">

  <div class="cards-wrapper card text-white bg-dark mb-3">
    <div class="img-wrapper">
      <img class="card-img-top" src="assets/photo/pushka300-500.jpg" alt="pushka">
    </div>
    <div class="card-body">
    <h2  class="card-title">Пушка</h2>
    <p  class="card-text about-category">Для больших помещений, теплиц и высокого подвеса от 2м.</p>
    <p  class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('pushka')" role="button">Посмотреть -></a></p>
  </div>
  </div>

  <div class="cards-wrapper card text-white bg-dark mb-3">
    <img class="card-img-top" src="assets/photo/qb80-320.jpg" alt="quantum board">
    <div class="card-body">
      <h2  class="card-title">Qb</h2>
      <p  class="card-text about-category">Лампа даёт максимально равномерный засвет.</p>
      <p  class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('qb')" role="button">Посмотреть -></a></p>
    </div>
  </div>

  <div class="cards-wrapper card text-white bg-dark mb-3">
    <img class="card-img-top" src="assets/photo/x1Pro.jpg" alt="x1pro">
    <div class="card-body">
      <h2 class="card-title">X1Pro</h2>
      <p class="card-text about-category">Это новейшая система профессионального освещения для растений</p>
      <p class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('x1pro')" role="button">Посмотреть -></a></p>
    </div>
  </div>

<!--  <div class="cards-wrapper card mb-3 col-xs-6 col-lg-4">-->
<!--    <h2>x1Pro</h2>-->
<!--    <img style="max-width: 150px; max-height: 200px;" src="assets/photo/x1Pro.jpg" alt="x1Pro">-->
<!--    <p>-->
<!--      X1 • PRO это новейшая система профессионального освещения для растений, не только в России, а также в мировой индустрии Led освещения для растений класса Mj.-->
<!--    </p>-->
<!--    <p><a class="btn btn-secondary" (click)="navigate('x1pro')" role="button">Посмотреть -></a></p>-->
<!--  </div>-->

</div>
