<div class="wrapper">

  <div class="cards-wrapper card text-white bg-dark mb-3">
    <div class="img-wrapper">
      <img class="card-img-top" src="assets/photo/autofem1.jpeg" alt="pushka">
    </div>
    <div class="card-body">
      <h2 class="card-title">Авто феменезированые</h2>
      <p class="card-text about-category">Топовый свет под любые цели, от системного блока до промышленных обьемов</p>
      <p class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('auto-fem')" role="button">Посмотреть -></a>
      </p>
    </div>
  </div>

  <div class="cards-wrapper card text-white bg-dark mb-3">
    <div class="img-wrapper">
      <img class="card-img-top" src="assets/photo/autofem2.jpg" alt="pushka">
    </div>
    <div class="card-body">
      <h2 class="card-title">Фото феменезированые</h2>
      <p class="card-text about-category">AitPot, мешки, диски для проращивания и другое</p>
      <p class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('fem')" role="button">Посмотреть -></a>
      </p>
    </div>
  </div>

  <div class="cards-wrapper card text-white bg-dark mb-3">
    <div class="img-wrapper">
      <img class="card-img-top" src="assets/photo/autofem3.jpeg" alt="pushka">
    </div>
    <div class="card-body">
      <h2 class="card-title">Регуляры</h2>
      <p class="card-text about-category">AitPot, мешки, диски для проращивания и другое</p>
      <p class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('regular')" role="button">Посмотреть -></a>
      </p>
    </div>
  </div>

  <div class="cards-wrapper card text-white bg-dark mb-3">
    <div class="img-wrapper">
      <img class="card-img-top" src="assets/photo/autofem1.jpeg" alt="pushka">
    </div>
    <div class="card-body">
      <h2 class="card-title">Скорострельные сорта</h2>
      <p class="card-text about-category">AitPot, мешки, диски для проращивания и другое</p>
      <p class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('fast-growing')" role="button">Посмотреть -></a>
      </p>
    </div>
  </div>

  <div class="cards-wrapper card text-white bg-dark mb-3">
    <div class="img-wrapper">
      <img class="card-img-top" src="assets/photo/autofem3.jpeg" alt="pushka">
    </div>
    <div class="card-body">
      <h2 class="card-title">Слабопахнущие сорта</h2>
      <p class="card-text about-category">AitPot, мешки, диски для проращивания и другое</p>
      <p class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('fast-growing')" role="button">Посмотреть -></a>
      </p>
    </div>
  </div>

  <div class="cards-wrapper card text-white bg-dark mb-3">
    <div class="img-wrapper">
      <img class="card-img-top" src="assets/photo/autofem2.jpg" alt="pushka">
    </div>
    <div class="card-body">
      <h2 class="card-title">Урожайные сорта</h2>
      <p class="card-text about-category">AitPot, мешки, диски для проращивания и другое</p>
      <p class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('fast-growing')" role="button">Посмотреть -></a>
      </p>
    </div>
  </div>

  <div class="cards-wrapper card text-white bg-dark mb-3">
    <div class="img-wrapper">
      <img class="card-img-top" src="assets/photo/autofem2.jpg" alt="pushka">
    </div>
    <div class="card-body">
      <h2 class="card-title">Ватноножные сорта</h2>
      <p class="card-text about-category">AitPot, мешки, диски для проращивания и другое</p>
      <p class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('fast-growing')" role="button">Посмотреть -></a>
      </p>
    </div>
  </div>

  <div class="cards-wrapper card text-white bg-dark mb-3">
    <div class="img-wrapper">
      <img class="card-img-top" src="assets/photo/autofem2.jpg" alt="pushka">
    </div>
    <div class="card-body">
      <h2 class="card-title">Целительные сорта</h2>
      <p class="card-text about-category">AitPot, мешки, диски для проращивания и другое</p>
      <p class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('fast-growing')" role="button">Посмотреть -></a>
      </p>
    </div>
  </div>


</div>
