<nav class="navbar navbar-fixed-top navbar-dark bg-intense">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="nav-item"><a routerLink="/seeds/auto-fem" class="nav-link">Авто-феменезированые сорта</a></li>
      <li class="nav-item"><a routerLink="/seeds/fem" class="nav-link">Фото-феменезированые сорта</a></li>
      <li class="nav-item"><a routerLink="/seeds/regular" class="nav-link">Регулярные сорта</a></li>
      <li class="nav-item"><a routerLink="/seeds/fast-growing" class="nav-link">Скорострельные сорта</a></li>
      <li class="nav-item"><a routerLink="/seeds/faintly-smelling" class="nav-link">Слабопахнущие сорта</a></li>
      <li class="nav-item"><a routerLink="/seeds/fruitful" class="nav-link">Урожайные сорта</a></li>
      <li class="nav-item"><a routerLink="/seeds/powerful" class="nav-link">Ватноножные сорта</a></li>
      <li class="nav-item"><a routerLink="/seeds/healing" class="nav-link">Целительные сорта</a></li>
    </ul>
  </div>
</nav>
