<div class="container">
  <div class="wrapper">
    <div  style="padding-left: 0; padding-right: 0;" class="advantages-block">
      <h2>Наши приемущества</h2>
      <div class="advantages-block__items">
        <div class="advantages-block__item-wrapper">
          <img class="advantages-block__img" src="assets/photo/icon-quantity.svg" alt="quantity">
          <p class="advantages-block__about-item">Гарантия 3 года</p>
        </div>
        <div class="advantages-block__item-wrapper">
          <img class="advantages-block__img" src="assets/photo/icon-handshake.png" alt="handshake">
          <p class="advantages-block__about-item">Выгодные условия с поставщиками</p>
        </div>
        <div class="advantages-block__item-wrapper">
          <img class="advantages-block__img" src="assets/photo/icon-resercher.png" alt="resercher">
          <p class="advantages-block__about-item">Собственный иследовательский центр</p>
        </div>
        <div class="advantages-block__item-wrapper">
          <img class="advantages-block__img" src="assets/photo/icon-exp1.png" alt="works">
          <p class="advantages-block__about-item">Опыт 5+ лет</p>
        </div>
      </div>
    </div>

    <div class="about-us-block">
      <h2>О нас</h2>

      <p class="about-us-block__text"><span>Hemp&Technologies</span> - компания, специализирующаяся на продаже профессионального Led-освещения на топовых диодах и оборудования для выращивания растений</p>
      <p class="about-us-block__text"><span>На нашем сайте</span>  Вы можете заказать разноплановый товар: от одежды и курительных аксессуаров до топовых семян лучших seeds-домов и полностью автоматизированых GrowBox</p>
      <p class="about-us-block__text"><span>Наша компания</span> сотрудничает только с проверенными поставщиками на эксклюзивных условиях! Проверяя лично весь ассортимент товаров, даёт нам право рекомендовать исключительно лучших производителей и их продукт!</p>
      <p class="about-us-block__text"><span>Мы проводим</span> регулярно акции и розыгрыши, дарим билеты на конопляные выставки и фестивали</p>
      <p class="about-us-block__text"><span>Гарантировано</span> к каждому заказу прилагается фирменный подарок</p>
    </div>

    <div class="payment-block">
      <h2>Оплата</h2>
      <div class="payment-block__items">
        <div class="payment-block__item-wrapper">
          <img class="payment-block__img" src="assets/photo/Bitcoin.svg.png" alt="bitcoin">
          <p class="payment-block__about-item">Bitcoin</p>
        </div>
        <div class="payment-block__item-wrapper">
          <img class="payment-block__img" src="assets/photo/icon-sber.png" alt="sberbank">
          <p class="payment-block__about-item">СберБанк</p>
        </div>
        <div class="payment-block__item-wrapper">
          <img class="payment-block__img" src="assets/photo/icon-qiwi.png" alt="">
          <p class="payment-block__about-item">Qiwi</p>
        </div>
        <div class="payment-block__item-wrapper">
          <img style="min-height: 50px; min-width: 100px" class="payment-block__img" src="assets/photo/icon-yandex.money.png" alt="">
          <p class="payment-block__about-item">Яндекс.Деньги</p>
        </div>
      </div>
    </div>
  </div>
</div>
