<main>
  <div class="container">
    <div class="lighting-wrapper">
      <div class="lighting-block col-xs-12 col-sm-9">
        <div class="jumbotron">
          <h1>Выставки, конференции и крупные мероприятия</h1>
          <p>Краткий обзор самых ожидаемых выставок и мероприятий наступившего года со всего мира</p>
        </div>

        <h3>Список продуктов</h3>

        <div class="wrapper">
          <div class="events-block_event-item">
            <div class="item-img"><img src="/assets/photo/cultiva_hanfexpo_logo_6052.jpeg" alt="Cultiva HanfExpo"></div>
            <div class="item-about"><p>HANFEXPO 2021 - международная выставка товаров из конопли</p></div>
            <div class="item-date"><p>с 19 по 21 ноября</p></div>
            <div class="item-place"><p>Австрия, Вена , Marx Halle</p></div>
          </div>

<!--          <div class="events-block_event-item">-->
<!--            <div class="item-img"><img src="/assets/photo/cultiva_hanfexpo_logo_6052.jpeg" alt="Cultiva HanfExpo"></div>-->
<!--            <div class="item-about"><p>Lorem ipsum dolor sit amet.</p></div>-->
<!--            <div class="item-date"><p>Lorem ipsum.</p></div>-->
<!--            <div class="item-place"><p>Lorem ipsum dolor sit amet.</p></div>-->
<!--          </div>-->

<!--          <div class="events-block_event-item">-->
<!--            <div class="item-img"><img src="/assets/photo/cultiva_hanfexpo_logo_6052.jpeg" alt="Cultiva HanfExpo"></div>-->
<!--            <div class="item-about"><p>Lorem ipsum dolor sit amet.</p></div>-->
<!--            <div class="item-date"><p>Lorem ipsum.</p></div>-->
<!--            <div class="item-place"><p>Lorem ipsum dolor sit amet.</p></div>-->
<!--          </div>-->

<!--          <div class="events-block_event-item">-->
<!--            <div class="item-img"><img src="/assets/photo/cultiva_hanfexpo_logo_6052.jpeg" alt="Cultiva HanfExpo"></div>-->
<!--            <div class="item-about"><p>Lorem ipsum dolor sit amet.</p></div>-->
<!--            <div class="item-date"><p>Lorem ipsum.</p></div>-->
<!--            <div class="item-place"><p>Lorem ipsum dolor sit amet.</p></div>-->
<!--          </div>-->
        </div>

      </div>
    </div>
  </div>

</main>
