<div class="wrapper">

  <div class="cards-wrapper card text-white bg-dark mb-3">
    <div class="img-wrapper">
      <img class="card-img-top" src="assets/photo/nutrition-cards.jpeg" alt="Smoking accessories">
    </div>
    <div class="card-body">
      <h2 class="card-title">Земля</h2>
      <p class="card-text about-category">Удобрения на любой вкус и кошелек для земли.</p>
      <p class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('land')" role="button">Посмотреть -></a>
      </p>
    </div>
  </div>

  <div class="cards-wrapper card text-white bg-dark mb-3">
    <div class="img-wrapper">
      <img class="card-img-top" src="assets/photo/nutrition-cards2.jpeg" alt="Clothes 100% natural">
    </div>
    <div class="card-body">
      <h2 class="card-title">Кокос</h2>
      <p class="card-text about-category">Удобрения на любой вкус и кошелек для кокосового субстрата.</p>
      <p class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('coconut')" role="button">Посмотреть -></a>
      </p>
    </div>
  </div>


  <div class="cards-wrapper card text-white bg-dark mb-3">
    <div class="img-wrapper">
      <img class="card-img-top" src="assets/photo/nutritions-cards3.jpeg" alt="Food with hemp">
    </div>
    <div class="card-body">
      <h2 class="card-title">Стимуляторы</h2>
      <p class="card-text about-category">Огромный выбор для ваших любимых растений</p>
      <p class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('stimulants')" role="button">Посмотреть -></a>
      </p>
    </div>
  </div>

  <div class="cards-wrapper card text-white bg-dark mb-3">
    <div class="img-wrapper">
      <img class="card-img-top" src="assets/photo/substrate-cards.jpeg" alt="Food with hemp">
    </div>
    <div class="card-body">
      <h2 class="card-title">Субстраты</h2>
      <p class="card-text about-category">Земля, кокос, торф, агроперлит, вермикулит и многое другое</p>
      <p class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('substrate')" role="button">Посмотреть -></a>
      </p>
    </div>
  </div>

</div>
