<main>
  <div class="container">
    <div class="recipes-wrapper">
      <div class="recipes-block col-xs-12 col-sm-9">
        <div class="jumbotron">
          <h1>Рецепты со всего интернета</h1>
          <p>Конопля не только лечит, но и имеет прекрасный вкус. Конопляные продукты превосходны в холодных и горячих блюдах. Вдохновитесь простыми рецептами из конопли для вашего здоровья.</p>
        </div>

        <div class="recipes-block_items-wrapper">

          <div class="recipes-block_recipe-item">

            <div class="recipes-block_recipe-item__recipe-img-wrapper">
              <img class="recipes-block_recipe-item__recipe-img" src="/assets/photo/recipe-title1.jpeg"
                   alt="Grow Report Title">
            </div>

            <h3 class="recipes-block_recipe-item__title-recipe">Домашние булочки с конопляными семечками</h3>

            <p class="recipes-block_recipe-item__about-recipe">Представляем вам рецепт легкой, быстрой и вкусной домашней выпечки, посыпанной конопляными семечками. Это домашние сырные булочки, которые даже не нужно оставлять подниматься. Дрожжи тут не нужны, нам нужен только разрыхлитель. В духовке они приготовятся за полчаса, и получаются действительно вкусными. :-)</p>

            <a href="https://www.cannadorra.ru/retsepty/777-domaschniji-bulochky-s-konoplianymi-semechkami" target="_blank">Читать
              полностью -></a>
          </div>

          <div class="recipes-block_recipe-item">

            <div class="recipes-block_recipe-item__recipe-img-wrapper">
              <img class="recipes-block_recipe-item__recipe-img" src="/assets/photo/recipe-title2.png"
                   alt="Grow Report Title">
            </div>

            <h3 class="recipes-block_recipe-item__title-recipe">Конопляная детоксикация печени</h3>

            <p class="recipes-block_recipe-item__about-recipe">Отличный метод для очистки печени. В течение семи дней пейте этот напиток каждое утро на голодный желудок. После, в течении 30 минут массируйте область печени, чтобы увеличить эффект</p>

            <a href="https://www.cannadorra.ru/retsepty/623-konopyanaya-detoxikaciya-pecheni" target="_blank">Читать
              полностью -></a>
          </div>

          <div class="recipes-block_recipe-item">

            <div class="recipes-block_recipe-item__recipe-img-wrapper">
              <img class="recipes-block_recipe-item__recipe-img" src="/assets/photo/recipe-title3.png"
                   alt="Grow Report Title">
            </div>

            <h3 class="recipes-block_recipe-item__title-recipe">Здоровая конопляная паста на хлеб</h3>

            <p class="recipes-block_recipe-item__about-recipe">Рецепт быстрой и очень здоровой пасты на хлеб из семян конопли, конопляного масла и трав. Благодаря энергии, витаминам и минералам и отличным детоксикационным свойствам у весенней усталости нет никакого шанса остаться. И с прекрасным вкусом! </p>

            <a href="https://www.cannadorra.ru/retsepty/622-zdorovaya-konolyanaya-pasta-na-chleb" target="_blank">Читать
              полностью -></a>
          </div>

          <div class="recipes-block_recipe-item">

            <div class="recipes-block_recipe-item__recipe-img-wrapper">
              <img class="recipes-block_recipe-item__recipe-img" src="/assets/photo/recipe-title4.png"
                   alt="Grow Report Title">
            </div>

            <h3 class="recipes-block_recipe-item__title-recipe">Йогуртовый парфе с черникой и медом и КБД маслом</h3>

            <p class="recipes-block_recipe-item__about-recipe">Секрет фруктового парфе в быстрой подготовке и в возможности менять фрукты по вашему вкусу или сезону. </p>

            <a href="https://www.cannadorra.ru/retsepty/612-jogurtovyj-parfe-s-chernikoj-i-medom-i-kbd-maslom" target="_blank">Читать
              полностью -></a>
          </div>

        </div>

      </div>
    </div>
  </div>
</main>
