

<main>
  <div class="container">
    <div class="videos-wrapper">
      <div class="videos-block col-xs-12 wrapper">
        <div class="jumbotron">
          <h1>Обучающие и развлекательные, познавательные и не совсем</h1>
          <p>Видео-репорты, о жизни на ферме, видео-инструкции, юмористическое видео, познаватетельные и комедийные фильмы</p>
        </div>

        <div class="videos-block_items-wrapper">
          <div class="videos-block_video-item">
            <youtube-player [height]="240" [width]="260"
                            [videoId]="'faMJMMMhHxQ'"></youtube-player>
            <h3 class="videos-block_video-item__title-video">ТАЙСОН про КУРЕНИЕ ТРАВКИ и свой каннабис бизнес
            </h3>
            <p class="videos-block_video-item__about-video">В этом видео Майк Тайсон на радио-шоу Big Boy расскажет о
              курении травки, о том как часто курит сам, про свой каннабис бизнес и в целом своем отношении к курению
              травки. Многие ответы показались весьма неожиданными.</p>
          </div>

          <div class="videos-block_video-item">
            <youtube-player [height]="240" [width]="260" [videoId]="'CFpwdlVirGg'"></youtube-player>
            <h3 class="videos-block_video-item__title-video">Ямайка. Орёл и Решка. Перезагрузка. АМЕРИКА (english subtitles)
            </h3>
            <p class="videos-block_video-item__about-video">Орёл и Решка. Перезагрузка. АМЕРИКА на родине релакса и позитива - на Ямайке! Начали мы нашу Перезагрузку с туристического городка Нигрил. Ну а потом...Понеслась душа к Джа! Мы опробовали на себе ямайские пляжи, побывали в необычном баре "Пеликан" (Floyd's Pelican Bar), гостили у местных, ходили в обедать к растаману Фае и пробовали растаманскую кухню. А еще собственноручно наловили себе ямайских лобстеров на обед. Спасибо, Ямайка, за твоих людей и твою светлую, открытую душу!</p>
          </div>

          <div class="videos-block_video-item">
            <youtube-player [height]="240" [width]="260" [videoId]="'Eve34hxXo5M'"></youtube-player>
            <h3 class="videos-block_video-item__title-video">
              Деревня растаманов и плантации марихуаны. "Хочу домой с Ямайки"
            </h3>
            <p class="videos-block_video-item__about-video">В этот раз Лёня Пашковский забирается повыше в горы
              Блю-Маунтинс, чтобы найти спрятанную там в лесу деревню растаманов. Теперь можно, наконец, разобраться,
              кто такие раста, во что они верят, почему не расчесываются, курят так много травки, постоянно говорят о
              Вавилоне и мертвом эфиопском императоре. А хозяин большой плантации конопли раздает советы, как вырастить
              хороший урожай. Осторожно: герои видео очень много и очень красиво курят, цитируют Библию и вызывают
              сильную симпатию.</p>
          </div>

          <div class="videos-block_video-item">
            <youtube-player [height]="240" [width]="260" [videoId]="'7AnT1acMRxM'"></youtube-player>
            <h3 class="videos-block_video-item__title-video">
              SPANNABIS - 2019 - BARCELONA - THE MOST INFLUENTIAL CANNABIS EVENT"
            </h3>
            <p class="videos-block_video-item__about-video">Spannabis Barcelona 2019 was huge! For all who couldn't make it, here our take on the event. Barcelona is without a doubt the stoner pilgrim site in Europe. Secret cannabis cups, the best herb, good food, nice people from all over the world, and great weather make the Spannabis an unforgettable event. </p>
          </div>

        </div>

      </div>
    </div>
  </div>
</main>
