<div class="wrapper">

  <div class="cards-wrapper card text-white bg-dark mb-3">
    <div class="img-wrapper">
      <img class="card-img-top" src="assets/photo/smoking-accessories1.jpeg" alt="Smoking accessories">
    </div>
    <div class="card-body">
      <h2 class="card-title">Курительные аксессуары</h2>
      <p class="card-text about-category">Бонги, трубки, вапорайзеры наперстки и аксессуары к ним!</p>
      <p class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('smoking-accessories')" role="button">Посмотреть -></a>
      </p>
    </div>
  </div>

  <div class="cards-wrapper card text-white bg-dark mb-3">
    <div class="img-wrapper">
      <img class="card-img-top" src="assets/photo/clothes-100%25natural.jpeg" alt="Clothes 100% natural">
    </div>
    <div class="card-body">
      <h2 class="card-title">Одежда из конопли</h2>
      <p class="card-text about-category">Экологически чистый продукт. Сумки, рубашки, панамки и многое друое.</p>
      <p class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('clothes')" role="button">Посмотреть -></a>
      </p>
    </div>
  </div>


  <div class="cards-wrapper card text-white bg-dark mb-3">
    <div class="img-wrapper">
      <img class="card-img-top" src="assets/photo/food-card.jpeg" alt="Food with hemp">
    </div>
    <div class="card-body">
      <h2 class="card-title">Продукты питания</h2>
      <p class="card-text about-category">Енергетические батончики, конфеты, конопляный протеин и мука, конопляное масло и многое другое</p>
      <p class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('food')" role="button">Посмотреть -></a>
      </p>
    </div>
  </div>

  <div class="cards-wrapper card text-white bg-dark mb-3">
    <div class="img-wrapper">
      <img class="card-img-top" src="assets/photo/cosmetics-card.jpeg" alt="pushka">
    </div>
    <div class="card-body">
      <h2 class="card-title">Косметика</h2>
      <p class="card-text about-category">Скрабы и маски для лица, гель и шампунь для тела, увлажняющий крем и многое другое</p>
      <p class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('cosmetics')" role="button">Посмотреть -></a>
      </p>
    </div>
  </div>

  <div class="cards-wrapper card text-white bg-dark mb-3">
    <div class="img-wrapper">
      <img class="card-img-top" src="assets/photo/evets-card.jpeg" alt="pushka">
    </div>
    <div class="card-body">
      <h2 class="card-title">События</h2>
      <p class="card-text about-category">Конопляные выставки, фестивали, конференции и ярмарки</p>
      <p class="card-text btn-wrapper"><a class="btn btn-secondary" (click)="navigate('events')" role="button">Посмотреть -></a>
      </p>
    </div>
  </div>

</div>
