<!--<ol>-->
<!--  <li>-->
<!--    <mat-form-field>-->
<!--      <mat-label>What's your name?</mat-label>-->
<!--      <input matInput [(ngModel)]="name">-->
<!--    </mat-form-field>-->
<!--  </li>-->
  <form>
<!--    <li>-->
    <button mat-raised-button  (click)="openDialog()" >Оформить предзаказ</button>
<!--  </li>-->
  </form>

<!--  <li>-->
<!--    Спасибо! Предзаказ офрмлен-->
<!--    Данные заказа:-->
<!--    <i>{{name}}</i><i>{{email}}</i><i>{{phone}}</i><i>{{tg}}</i>-->
<!--    <i>{{email}}</i><i>{{quantity}}</i>-->
<!--  </li>-->
<!--  <mat-form-field>-->
<!--    <mat-label>What's your name?</mat-label>-->
<!--    <input matInput [(ngModel)]="name">-->
<!--    <agm-map-type-control></agm-map-type-control>-->
<!--  </mat-form-field>-->
<!--</ol>-->
