<main>
  <div class="container">
    <div class="articles-wrapper">
      <div class="articles-block col-xs-12 col-sm-9">
        <div class="jumbotron">
          <h1>Топовая подборка статей</h1>
          <p>Уникальные и полезные статьи со всего мира на русском языке</p>
        </div>

        <div class="articles-block_items-wrapper">
          <div class="articles-block_article-item">

            <div class="articles-block_article-item__article-img-wrapper">
              <img class="articles-block_article-item__article-img" src="/assets/photo/article-title1.jpg"
                   alt="Grow Report Title">
            </div>

            <h3 class="articles-block_article-item__title-article">Увеличивается ли число трихом после полной темноты и полива ледяной водой?</h3>

            <p class="articles-block_article-item__about-article">Каннабис выращивают именно из-за наличия у него трихом. Гроверы используют бесконечное количество приёмов, чтобы увеличить производство «желёз счастья» растениями: от низко- и высокострессовых тренировок до «водного стресса» и многого другого. По сути, таким образом они имитируют ситуации, происходящие в природе, чтобы получить лучший и больший урожай.</p>

            <a href="https://dzagi.club/index.php?/articles/growers/zhiznennyj-cikl/uvelichivaetsya-li-chislo-trihom-posle-polnoy-temnoty-i-poliva-ledyanoy-vodoy-r7716/" target="_blank">Читать
              полностью -></a>
          </div>

          <div class="articles-block_article-item">

            <div class="articles-block_article-item__article-img-wrapper">
              <img class="articles-block_article-item__article-img" src="/assets/photo/article-title2.jpg"
                   alt="Grow Report Title">
            </div>

            <h3 class="articles-block_article-item__title-article">Tissue Culture: выращивание растений в пробирке</h3>

            <p class="articles-block_article-item__about-article">Что такое культура тканей растений и можно ли её использовать для выращивания растений каннабиса в пробирке? Можно ли проводить микроразмножение в домашних условиях?</p>

            <a href="https://dzagi.club/index.php?/articles/growers/zhiznennyj-cikl/tissue-culture-vyraschivanie-rasteniy-v-probirke-r7791/"
               target="_blank">Читать полностью -></a>
          </div>


        </div>

      </div>
    </div>
  </div>
</main>
