<!--<nav class="navbar navbar-fixed-top navbar-dark bg-intense">-->
<!--  <div class="container">-->
<!--    <ul class="nav navbar-nav">-->
<!--      <li class="nav-item"><a routerLink="/nutrition/coconut" class="nav-link">Кокос</a></li>-->
<!--      <li class="nav-item"><a routerLink="/nutrition/land" class="nav-link">Земля</a></li>-->
<!--      <li class="nav-item"><a routerLink="/nutrition/stimulants" class="nav-link">Стимуляторы</a></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->

<!--<nav class="navbar navbar-fixed-top navbar-dark bg-intense">-->
<!--  <div class="container">-->
<!--    <ul class="nav navbar-nav">-->
<!--      <li class="nav-item"><a class="btn btn-secondary" (click)="navigate('coconut')" role="button">Кокос</a></li>-->
<!--      <li class="nav-item"><a class="btn btn-secondary" (click)="navigate('land')" role="button">Земля</a></li>-->
<!--      <li class="nav-item"><a class="btn btn-secondary" (click)="navigate('/stimulants')" role="button">Стимуляторы</a></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->


<!--<div *ngFor="let category of category">-->

<!--  <div *ngIf="category.id == 'nutrition'">-->
<!--    <a routerLink="/nutrition/coconut">{{category.subCategory1}}</a>-->
<!--    <a routerLink="/nutrition/land">{{category.subCategory2}}</a>-->
<!--    <a routerLink="/nutrition/stimulants">{{category.subCategory3}}</a>-->
<!--  </div>-->

<!--  <div *ngIf="category.id == 'equipment'">-->
<!--    <a routerLink="/nutrition/coconut">{{category.subCategory1}}</a>-->
<!--    <a routerLink="/nutrition/land">{{category.subCategory2}}</a>-->
<!--    <a routerLink="/nutrition/stimulants">{{category.subCategory3}}</a>-->
<!--  </div>-->

<!--</div>-->


<!--<div style="background: #FFFFFF" *ngFor="let category of category; let i = index">-->
<!--  {{ i+1 }}.{{category}}-->
<!--  <a *ngIf="category.path == 'nutrition'">Nutrition</a>-->
<!--  <a *ngIf="category.path !== 'nutrition'">Non Nutrition</a>-->
<!--  <a *ngIf="category.path == 'nutrition'"><h3>Gbbbbbbbsdfadsfasdf</h3></a>-->
<!--</div>-->

