

<h3>Услуги по доставке</h3>
<h3 class="title_sdek">СДЭК - доставка</h3>
<!--<div class="shipping-item" *ngFor="let shipPrice of shippingPrice">-->
<!--  <span>{{shipPrice.price | currency}}</span>-->
<!--  <span>{{shipPrice.type}}</span>-->
<!--</div>-->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> № </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Вид доставки </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef> Сроки </th>
    <td mat-cell *matCellDef="let element"> {{element.time}} </td>
  </ng-container>

  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Вес </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="where">
    <th mat-header-cell *matHeaderCellDef> Куда </th>
    <td mat-cell *matCellDef="let element"> {{element.where}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="confines">
    <th mat-header-cell *matHeaderCellDef> Ограничения/Доп.инфа </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<h3 class="title_rp">Почта России</h3>

<table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> № </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Вид доставки </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef> Сроки </th>
    <td mat-cell *matCellDef="let element"> {{element.time}} </td>
  </ng-container>

  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Вес </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="where">
    <th mat-header-cell *matHeaderCellDef> Куда </th>
    <td mat-cell *matCellDef="let element"> {{element.where}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="confines">
    <th mat-header-cell *matHeaderCellDef> Ограничения/Доп.инфа </th>
    <td mat-cell *matCellDef="let element"> {{element.confines}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
